@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.moving-decor {
	display: flex;
   animation: moveLeft 10s linear infinite;
	background-color: #63DE86;
	padding: 25px 0;
}

.moving-decor span{
	margin-right: 115px;
	font-weight: 700;
   font-size: 42px;
   line-height: 52px;
   text-align: center;
   color: #F22E2F;
}


.order {
   padding: 127px 271px;

	&__text {
		text-align: center;
		text-transform: none;
		font-size: 39px;
      line-height: 60px;
		width: 823px;
		margin: 0 auto;
		display: block;
	}
	&__text span{
		color:#F3134F;
		font-size: 26px;
		line-height: 60px;
		font-weight: 700;
	}
	&__text strong{
		font-weight: 700;
		font-size: 39px;
		line-height: 60px;
	}
	&__text em{
		background-image: linear-gradient(to top,#f67576 50%,#d81b7d00 20%);
      font-weight: 400;
      font-size: 39px;
      line-height: 60px;
      color: #0D0D0D;
		text-transform: uppercase;
		padding-left: 10px;
		font-style: italic;
	}
}
.clothes-img,
.idea-img,
.magic-img,
.pay-img svg,
.order-img {
	max-width: 100%;
}



.work {
   padding: 85px 0 45px;
   background-color: #81D3D8;
	text-align: center;
   color: #F22E2F;

	&__title {
		margin-bottom: 85px;
	}

	&__items {
		margin-bottom: 90px;
		display: flex;
		justify-content: space-between;
		display: flex;
		justify-content: space-between;
		padding: 0 5px;
	}

	&__item {
		width: 100%;
		// margin-left: 10px;
	}

	&__item-img {
		margin-right: 0;
		padding: 5px;
		max-width: 100%;
	}

	&__text {
		display: inline-block;
		font-weight: 400;
      font-size: 16px;
      line-height: 20px;
		background-image: linear-gradient(to top,#F8F1E9 65%,#d81b7d00 20%);
		padding-left: 10px;
		padding-bottom: 5px;
	}
}



.slick-arrow{
	background-color: inherit;
	border: none;
	position: absolute;
	z-index: 10;
	top: 37%;
	cursor: pointer;
   transition: all .3s;
}
.slick-arrow:hover{
   opacity: .7;
}

.slick-prev{
	padding-left: 5px;
}

.slick-next{
   right: 11px;
}









@import 'media';
