@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';



.header {

	&__top {
		padding: 40px 90px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      background-color: #F8F1E9;
      z-index: 20;
      box-shadow: 0 0 2px 0 rgba(243, 19, 79, 1);
	}

	&__menu {
		display: flex;
		transition: all .3s;
		color: rgba(243, 19, 79, 1);
	}

	&__menu:hover{
		color: rgba(243, 19, 79, 0.5);
	}

	&__menu-item {
		font-size: 21px;
      line-height: 32px;
      letter-spacing: 0.13em;
	}

	&__menu-item + &__menu-item{
		margin-left: 57px;
	}

	&__menu-link {
		transition: all .1s;
	}

	&__menu-link:hover{
		color: rgba(243, 19, 79, 1);
	}

	&__content {
		background-color: #F22E9A;
		padding: 250px 0 90px;
	}

	&__content-box{
		text-align: center;
	}

	&__title {
		width: 580px;
      font-weight: 700;
      font-size: 42px;
      line-height: 52px;
      color: #F8F1E9;
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
	}

	&__subtitle {
		font-size: 16px;
      line-height: 20px;
      color: #F8F1E9;
      width: 440px;
		margin-bottom: 97px;
		margin-left: auto;
		margin-right: auto;
	}

	&__btn {
		background: #81D3D8;
      border-radius: 42px;
      padding: 20px 53px;
		border: none;
		font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.13em;
      color: #F22E9A;
		transition: all .5s;
		cursor: pointer;
	}

	&__btn-link {
		
	}
	&__btn:hover{
		color: #F8F1E9;
	}
}

.logo {

	&__img {
	}
}





.order {
   padding: 127px 20px;
	background-color: #F8F1E9;

	&__text {
		text-align: center;
		text-transform: none;
		font-size: 39px;
      line-height: 60px;
		font-weight: 400;
		width: 823px;
		display: block;
		margin: 0 auto;
	}
	&__text b{
		font-weight: 400;
      font-size: 39px;
      line-height: 60px;
      color: #0D0D0D;
		text-transform: uppercase;
		font-style: italic;
	}
	&__text span{
		color:#F3134F;
		font-size: 26px;
		line-height: 60px;
		font-weight: 700;
	}
	&__text strong{
		font-weight: 700;
		font-size: 39px;
		line-height: 60px;
	}
	&__text em{
		background-image: linear-gradient(to top,#f67576 50%,#d81b7d00 20%);
      font-weight: 400;
      font-size: 39px;
      line-height: 60px;
      color: #0D0D0D;
		text-transform: uppercase;
		padding-left: 10px;
		font-style: italic;
	}
}
.clothes-img,
.idea-img,
.magic-img,
.pay-img svg,
.order-img {
	max-width: 100%;
}

.pay-img{
	
}


.work {
   padding: 85px 0 45px;
   background-color: #81D3D8;
	text-align: center;
   color: #F22E2F;

	&__title {
		margin-bottom: 85px;
	}

	&__items {
		margin-bottom: 90px;
		display: flex;
		justify-content: space-between;
		padding: 0 5px;
	}

	&__item {
		width: 100%;
		// margin-left: 10px;
	}

	&__item-img {
		margin: 5px;
		max-width: 100%;
		border: 5px solid #F8F1E9;
	   width: 368px;
      height: 490px;
	}

	&__text {
		display: inline-block;
      font-size: 16px;
      line-height: 20px;
		background-image: linear-gradient(to top,#F8F1E9 65%,#d81b7d00 20%);
		padding-left: 10px;
		padding-bottom: 5px;
	}
}



.slick-arrow{
	background-color: inherit;
	border: none;
	position: absolute;
	z-index: 10;
	top: 37%;
	cursor: pointer;
   transition: all .3s;
}
.slick-arrow:hover{
   opacity: .7;
}

.slick-prev{
	padding-left: 5px;
}

.slick-next{
   right: 20px;
}

.process {
	background-image: url(../img/process-bg2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 120px 20px 130px;
   min-height: 70vh;


	&__box {
		position: relative;
	}

	&__img{
		position: absolute;
	}

	&__img-one {
		top: -20%;
	}

	&__img-two {
		bottom: -30%;
	}

	&__img-three {
		top: -20%;
		right: 0;
	}

	&__img-for {
		bottom: -30%;
		right: 0;
	}
}

.box {
   
   &__title {
		letter-spacing: 0.03em;
		margin-bottom: 35px;
		text-align: center;
	}

	&__items {
		font-size: 22px;
		line-height: 36px;
		margin: 0 auto 26px;
		width: 235px;
	}

	&__item {
		display: inline-block;
	}

	&__text{
		width: 517px;
		font-size: 22px;
      line-height: 36px;
		margin: 0 auto;
		text-align: center;
	}

}





.price {
	text-align: center;
	background-color: #63DE86;
	padding-top: 85px;
	padding-bottom: 65px;

	&__title {
		color: #F3134F;
		margin-bottom: 85px;
	}

	&__box {
		display: flex;
		justify-content: space-between;
		margin-bottom: 64px;
	}

	&__box-item {
		text-align: center;
		background-color: #F8F1E9;
		border-top: 1px solid #0697F2;
		padding: 60px 63px 95px;
		margin: 10px;
		box-shadow: 0px -4px 0px #0697F2;
	}

	&__item-title {
		font-weight: 700;
      font-size: 29px;
      line-height: 39px;
      color: #0D0D0D;
		margin-bottom: 44px;
	}

	&__item-cost {
		font-weight: 400;
      font-size: 45px;
      line-height: 61px;
		margin-bottom: 39px;
		position: relative;
	}

	&__item-cost span{
		font-size: 20px;
		line-height: 30px;
		position: absolute;
		bottom: 20px;
	}

	&__item-img{
		width: 247px;
		border: 3px solid #81D3D8;
		margin-bottom: 43px;
	}

	&__item-btn--left {
		background-color: #FF7EA1;
	}
	&__item-btn--left:hover{
		background-color: #95c0db;
		transition: all .5s;
	}

	&__item-btn {
		font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
		border: none;
		border-radius: 4px;
		padding: 9px 53px;
		cursor: pointer;
	}

	&__item-btn--center {
		background-color: #ED3365;
	}
	&__item-btn--center:hover{
		background-color: #44a9e8;
		transition: all .5s;
	}

	&__item-btn--right{
		background-color: #E3003D;
		transition: all .5s;
	}
	&__item-btn--right:hover{
		background-color: #0787d7;

	}

	&__text {
		display: inline-block;
      font-size: 16px;
      line-height: 20px;
		background-image: linear-gradient(to top,#0697F2 65%,#d81b7d00 20%);
		padding-left: 10px;
		padding-bottom: 5px;
	}
}

.care {

	background-image: url(../img/care-bg-2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 120px 0 142px;

	&__box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap-reverse;
	}

	&__box-img {
		max-width: 100%;
		margin-right: 20px;
	}

	&__box-content {
		margin-left: 20px;
	}

	&__content-title {
		width: 465px;
		font-size: 39px;
      line-height: 50px;
      text-align: center;
      letter-spacing: 0.03em;
		margin-bottom: 75px;
	}

	&__content-list {
		font-size: 18px;
      line-height: 30px;
	}

	&__content-item {
		margin-bottom: 10px;
	}
}

.moving-decor {
	display: flex;
   animation: moveLeft 10s linear infinite;
	background-color: #63DE86;
	padding: 25px 0;
}

.moving-decor span{
	margin-right: 115px;
	font-weight: 700;
   font-size: 42px;
   line-height: 52px;
   text-align: center;
   color: #F22E2F;
}



.footer {
   padding: 82px 0 100px;
	background-color: #F22E9A;
	
	&__inner {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	&__left {
	}

	&__left-title {
		font-size: 39px;
      line-height: 50px;
		font-weight: 400;
		margin-bottom: 39px;
	}

	&__left-form {
		display: flex;
	}

	&__form-input {
		width: 342px;
		background-color: #F8F1E9;
      border-radius: 42px;
		border: none;
		padding: 12px 20px;
		outline: none;
		margin-right: 13px;
	}

	&__form-input::placeholder{
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		color: #9E9B9B;
	}
	

	&__form-button {
		background-color: #0D0D0D;
      border-radius: 42px;
		border: none;
		padding: 11px 45px;
		font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.13em;
      color: #F22E9A;
		transition: all .5s;
		cursor: pointer;
		margin-right: 20px;
	}

	&__form-button:hover{
		color: #F8F1E9;
	}

	&__right {
	}

	&__right-title {
		font-weight: 400;
      font-size: 16px;
      line-height: 25px;
      text-align: center;
      letter-spacing: 0.13em;
		margin-bottom: 28px;
	}

	&__contacts {
		display: flex;
      justify-content: space-between;
      align-items: center;
	}

	&__contacts-item {
	}

	&__contacts-item + &__contacts-item{
	
	}

	&__contacts-whatsapp--link {
	}

	&__contact-img {
		margin-bottom: 5px;
		border-radius: 7px;
	}

	&__contacts-name {
		font-size: 11px;
      line-height: 14px;
      text-align: center;
      color: #F8F1E9;
	}

	&__contacts-viber--link {
	}

	&__contacts-telegram--link {
	}
}









@import 'media';
